@import "./styles/base.scss";

.container {
  background-color: $color-background;
  border: 10px solid $color-border;
  border-radius: 30px;
  width: 100vw;
  height: 100vh;

  @include apply-at-lg-size {
    height: 100%;
    padding-bottom: 5rem;
  }
}
